*.class
/data/
/jars/
/build/
/.gradle/
.pydevproject
/.settings/
/bin/com
/bin/rapidwright_classpath.sh
.idea
*.iml
/designs/
interchange/schema/capnp/java.capnp
*.orig

# folder
.vscode/
log/
tmplog/
run/
ps_scripts/
output/

# file/soft link
dataset
